<nav class="navbar-part">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="navbar-content">
                    <ul class="navbar-list">
                        <li class="navbar-item dropdown">
                            <a class="navbar-link" href="@Url.Action("Index","Home")">trang chủ</a>
                        </li>
                        <li class="navbar-item dropdown">
                            <a class="navbar-link dropdown-arrow" href="#">danh mục sản phẩm</a>
                            <ul class="dropdown-position-list">
                                <li><a href="@Url.Action("Category","Home")">Túi xách mới nhất</a></li>
                                <li><a href="@Url.Action("Category","Home")">Túi xách tay</a></li>
                                <li><a href="@Url.Action("Category","Home")">Túi đeo chéo</a></li>
                                <li><a href="@Url.Action("Category","Home")">Ví cầm tay</a></li>
                                <li><a href="@Url.Action("Category","Home")">Ví dự tiệc</a></li>
                                <li><a href="@Url.Action("Category","Home")">Balo</a></li>
                            </ul>
                        </li>
                        <li class="navbar-item dropdown">
                            <a class="navbar-link" href="#">khuyến mãi</a>
                        </li>
                        <li class="navbar-item dropdown">
                            <a class="navbar-link" href="#">hệ thống cửa hàng</a>
                        </li>
                    </ul>
                    <div class="navbar-info-group">
                        <div class="navbar-info">
                            <i class="icofont-ui-touch-phone"></i>
                            <p><small>hotline</small><span>1800 6050</span></p>
                        </div>
                        <div class="navbar-info">
                            <i class="icofont-ui-email"></i>
                            <p>
                                <small>email</small><span>contact@sablanca.vn</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>