@model Sablanca.Models.TaiKhoan
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<!-- Added by HTTrack -->
<meta http-equiv="content-type" content="text/html;charset=utf-8" /><!-- /Added by HTTrack -->

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="author" content="mironcoder" />
    <meta name="email" content="mironcoder@gmail.com" />
    <meta name="profile" content="https://themeforest.net/user/mironcoder" />
    <meta name="template" content="Organe" />
    <meta name="title" content="Sablanca - Phong cách thời trang theo xu hướng quốc tế" />
    <meta name="keywords" content="giày dép nữ thời trang, túi xách nữ thời trang, ví nữ thời trang, ba lô nữ thời trang" />
    <title>Đăng nhập</title>
    <link rel="icon" href="https://sablanca.vn/favicon.ico" />
    <link rel="stylesheet" href="~/wwwroot/css/vendor/bootstrap.min.css" />
    <link rel="stylesheet" href="~/wwwroot/css/custom/main.css" />
    <link rel="stylesheet" href="~/wwwroot/css/custom/user-form.css" />
</head>
<body>
    <section class="user-form-part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-5">
                    <div class="user-form-logo">
                        <a href="@Url.Action("Index","Home")">
                            <img src="~/wwwroot/images/logo_sab.png"
                                 alt="logo" />
                        </a>
                    </div>
                    @using (Html.BeginForm("Login", "TaiKhoans", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()

                        <div class="form-horizontal">

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            <div class="form-group">
                                    <div class="input-box">
                                        <label>Email</label>
                                        @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                                    </div>
                                    <div class="input-box">
                                        <label></label>
                                        @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger"})
                                    </div>
                            </div>

                            <div class="form-group">
                                    <div class="input-box">
                                        <label>Mật khẩu</label>
                                        @Html.EditorFor(model => model.MatKhau, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    </div>
                                    <div class="input-box">
                                        <label></label>
                                        @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                        <p style="margin-top: 0px; color: red; font-size: 18px;">@ViewBag.error</p>
                                    </div>
                            </div>

                            <div class="form-group">
                                <div class="form-button">
                                    <button type="submit">Đăng nhập</button>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="user-form-remind">
                        <p>
                            Bạn chưa có tài khoản?<a href="@Url.Action("Create","TaiKhoans")">Đăng ký</a>
                        </p>
                    </div>
                    <div class="user-form-footer">
                        <p>&copy; Bản quyền thuộc về Nhóm 14</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="~/wwwroot/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="~/wwwroot/js/vendor/popper.min.js"></script>
    <script src="~/wwwroot/js/vendor/bootstrap.min.js"></script>
</body>

</html>