
@model IEnumerable<Sablanca.Models.Category>

<aside class="nav-sidebar">
    <div class="nav-header">
        <a href="#"><img src="~/wwwroot/images/logo_sab.png" alt="logo" /></a><button class="nav-close">
            <i class="icofont-close"></i>
        </button>
    </div>
    <div class="nav-content">
        <div class="nav-btn">
            @if (ViewBag.User == null)
            {
                <a href="@Url.Action("Login","Profile")" class="btn btn-inline"><i class="fa fa-unlock-alt"></i><span>Đăng nhập</span></a>
            }
            else
            {
                <a href="@Url.Action("Index","Profile")" class="btn btn-inline"><span>@ViewBag.User</span></a>
            }

        </div>
        <ul class="nav-list">
            <li>
                <a class="nav-link" href="#"><i class="icofont-home"></i>Trang chủ</a>
            </li>
            <li>
                <a class="nav-link dropdown-link" href="#"><i class="icofont-page"></i>Danh mục sản phẩm</a>
                <ul class="dropdown-list">
                    @foreach (var item in Model)
                    {
                        <li><a href="@Url.Action("Detail","Category", new { id = item.category_id })">@item.category_name</a></li>
                    }
                </ul>
            </li>
            <li>
                <a class="nav-link cart-btn" href="/Checkout">
                    <i class="fas fa-shopping-basket"></i><span>Giỏ hàng</span><sup>9+</sup>
                </a>
            </li>
            <li>
                <a class="nav-link" href="contact.html"><i class="icofont-contacts"></i>Liên hệ</a>
            </li>
            <li>
                <a class="nav-link" href="@Url.Action("Login","Profile")"><i class="icofont-logout"></i>Đăng xuất</a>
            </li>
        </ul>
        <div class="nav-info-group">
            <div class="nav-info">
                <i class="icofont-ui-touch-phone"></i>
                <p><small>Liên hệ</small><span>1800 6050</span></p>
            </div>
            <div class="nav-info">
                <i class="icofont-ui-email"></i>
                <p><small>Email</small><span>contact@sablanca.vn</span></p>
            </div>
        </div>
        <div class="nav-footer">
            <p>Bản quyền thuộc về nhóm 14</p>
        </div>
    </div>
</aside>